*{
    top : 0;
}

.main {
    display: flex;
    flex-direction: column;
    height : 100vh;
    align-items : center;
    justify-content : center;
    
}

.input-control {
    height : 30px;
    width : 300px;
    margin : 10px;
    padding : 10px;
    border:2px solid #aaa;
    box-sizing:border-box;
    outline:none;
    border-radius : 4px;
}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

.btn {
    background-color : blue;
    height : 30px;
    width: 300px;
    color: white;
    border-radius: 4px;
    border:2px solid  black;

}